@import 'tailwindcss';

@theme {
  --default-font-family: 'Open Sans', var(--font-sans);

  --color-brand-gray-1: #dadce0;
  --color-brand-blue-1: #1967d2;
  --color-brand-green-1: #137333;

  --shadow-blue: 0 0 3px 3px #4285f4;
}
